* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F2A1D;
}

li {
  list-style: none;
}

.quote-conteiner { 
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.generate-quote {
  border-radius: 15px;
  border: none;
  background-color: #375534;
  padding: 10px 15px;
  color: aliceblue;
  font-size: 1.2em;
  margin-bottom: 5px;
  transition: 0.2s;
}

.add-to-favorites {
  border-radius: 15px;
  border: none;
  background-color: #0F2A1D;

  color: aliceblue;
  font-size: 1em;
  transition: 0.2s;
  font-size: 2em;
}

.add-to-favorites:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.generate-quote:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.quote-text {
  padding-bottom: 5px;
  font-size: 1.5em;
  font-style: italic;
  color: #E3EED4;
}

.quote-author {
  padding-bottom: 15px;
  color: #E3EED4;
}

.quote-text::after,
.quote-text::before {
  content: '"';
}

.favorites-conteiner {
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-item {
  background-color: #0F2A1D;
  margin: 10px 0;
  color: aliceblue;
  max-width: 500px;
  border-radius: 15px;
  color: #E3EED4;
}

.favorite-quote {
  font-style: italic;
}

.favorite-item__remove-btn {
  background-color: #375534;

}

.favorite-item__remove-btn:hover {
  cursor: pointer;
}

.favorite-item__remove-btn {
  border: none;
  width: 30px;
  color: rgb(150, 4, 4);
  font-weight: 900;
  font-size: larger;
}